//************************
// Animation variables
//************************

$animation-time-base: .7s;
$animation-functions-base: ease;

//************************
// Time scale
//************************

$time: (
now: ($animation-time-base * .5),
short: $animation-time-base,
long: ($animation-time-base * 4)
);

//************************
// Animation short variables
//************************
$anim-function: $animation-functions-base;