//************************
// Dev variables
//************************

$project-viewport: ;
$bootstrap--horizontal-spacing: 15px;

//************************
// Base variables
//************************

$body-bg: ;
$text-color: ;
$link-color: ;
$link-hover-decoration: ;

//************************
// Component variables
//************************

