-var pageTitle = 'Moneeey!'

doctype html
html(lang="pl").index
    include essentials/_head.pug

    body.background-hook

        include templates/_hs-goal.pug
        include templates/_hs-goals.pug

        .container#app
            header.header
                h1.header__caption Kunsztowny budżet HSu

            hs-goals

            footer.footer.row
                p.footer__caption Nasz HS jest zajebisty!!! Footer placeholder text

        include essentials/_scripts.pug
