-var pageTitle = 'This is development'

doctype html
html(lang="pl").index
    include partials/_head.pug

    body

        .container
            
            //- Write you code here

        include partials/_scripts.pug