-var pageTitle = 'Moneeey!'

doctype html
html(lang="pl").index
    include essentials/_head.pug

    body.background-hook

        include templates/_hs-goal.pug

        .container
            header.header
                h1.header__caption Kunsztowny budżet HSu

            section.row#budget-goals.main
                    hs-goal(v-for="goal in goals" v-bind:current-money="goal.currentMoney" v-bind:needed-money="goal.neededMoney" v-bind:text="goal.text")

            footer.footer.row
                p.footer__caption Nasz HS jest zajebisty!!! Footer placeholder text

        include essentials/_scripts.pug
