head

	//-Standard head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title= pageTitle

	//Seo metatags shall be added here

	//-Favicons
	link(rel="apple-touch-icon" href="apple-touch-icon.png")
	link(rel="icon" href="favicon.ico")

	//-Licensing and authroing
	meta(name="author" content="HS3 Team")

	//-Main styles
	link(rel="stylesheet" href="css/main.css")
