$font-family-base: 'Lato', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$font-style-base: normal;
$line-height-base: 1.2;

$text-color: $white;
$body-bg: url('../img/bg.jpg');

$link-color: $red;
$link-hover-decoration: none;
